body{
    overflow-x: hidden
}

.s-block{    
    width: 100%;
    height: 100%;
}

    .s-block .heading h2{
        color: #333333;
        text-align: center;
        padding: 100px 0;
        font-family: 'OpenSansBold', sans-serif;
    }

    .s-block .block{
        text-align: center;
        margin-bottom: 80px;
        position: relative;
        padding-bottom: 20px;
    }
    
        .s-block .block::before, .s-block .block-remaining::before{
            content: '';
            height: 0%;
            width: 3px;
            bottom: 0;
            left: 0;
            position: absolute;
            display: block;
            background: #ecb124;
            transition: all 0.5s;
        }

        .s-block .block::after, .s-block .block-remaining::after{
            content: '';
            height: 3px;
            width: 0%;
            bottom: 0;
            left: 0;
            position: absolute;
            display: block;
            background: #ecb124;
            transition: all 0.5s;
        }

            .s-block .block:hover::before, .s-block .block-remaining:hover::before{
                height: 100%;
            }

            .s-block .block:hover::after, .s-block .block-remaining:hover::after{
                width: 100%;
            }

        .s-block .block .block-border, .s-block .block-remaining .block-border{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            pointer-events: none;
        }

            .s-block .block .block-border::before, .s-block .block-remaining .block-border::before{
                content: '';
                height: 0%;
                width: 3px;
                position: absolute;
                right: 0;
                display: block;
                background: #ecb124;
                transition: all 0.5s;
            }

            .s-block .block .block-border::after, .s-block .block-remaining .block-border::after{
                content: '';
                height: 3px;
                width: 0%;
                right: 0;
                position: absolute;
                display: block;
                background: #ecb124;
                transition: all 0.5s;
            }

                .s-block .block:hover .block-border::before, .s-block .block-remaining:hover .block-border::before{
                    height: 100%;
                }

                .s-block .block:hover .block-border::after, .s-block .block-remaining:hover .block-border::after{
                    width: 100%;
                }


        .s-block .block h3{
            color: #222222;
            font-family: 'OpenSansBold', sans-serif;
            margin-bottom: 0px;
            padding-top: 35px;
        }

        .s-block .block p{
            margin-bottom: 0px;
        }

        .s-block .block .block-img{
            width: 100%;
            min-height: 232px;
            object-fit: cover;
            object-position: center;
        }



    .s-block .block-remaining{
        text-align: center;
        margin-bottom: 80px;
        position: relative;
        padding-bottom: 20px;
    }

        .s-block .block-remaining h3{
            color: #222222;
            font-family: 'OpenSansBold', sans-serif;
            margin-bottom: 0px;
            padding-top: 35px;
        }

        .s-block .block-remaining p{
            margin-bottom: 0px;
        }

        .s-block .block-remaining .block-img{
            width: 100%;
            min-height: 232px;
            object-fit: cover;
            object-position: center;
        }




    .block-gram{
        font-family: 'OpenSansBold', sans-serif;
        padding: 10px 0;
        font-size: 17px;
        color: #222222;
    }

    .block-text{
        font-family: 'OpenSansSemiBold', sans-serif;
        font-size: 15px;
        color: #444444;
        min-height: 110px;
    }

    .block-sum{
        font-family: 'OpenSansBold', sans-serif;
        padding: 15px 0;
        font-size: 20px;
        color: #222222;
    }

        .block-sum strike{
            color: #656565;
        }

    .s-block br{
        display: block;
        margin: 4px 0;
    }

    .s-block .block-icon-img{
        position: absolute;
        margin-left: 390px;
        margin-top: 35px;
        text-align: center;
    }

    .s-block .icon-img{
        width: 20px;
    }



.s-adv{
    background-color: #414e5b;
    width: 100%;
    height: 180px;
}
    .s-adv br{
        display: block;
        margin: 8px 0;
    }
    
    .s-adv .block{
        padding: 42px 0;
    }

    .s-adv .block span{
        color: #ecb124;
    }

    .s-adv .block h2{
        color: #dde9f3;
        font-size: 30px;
        font-family: 'Exo2Bold', sans-serif;
    }
    
    .s-adv .block p{
        color: #c0cdda;
        font-size: 15px;
        font-family: 'OpenSansRegular', sans-serif;
    }


    .s-adv .achive-2{
        padding-left: 80px;
    }


    .s-adv .achive-3{
        padding-left: 180px;
    }



.s-pizza{
    background-color: #ffffff;
}

    .s-pizza .row{
        display: flex;
    }

    .s-pizza .block .block-img{
        width: 100%;
        max-height: 230px;
    }

    .s-pizza .heading h2{
        padding-top: 100px;
        padding-bottom: 0;
    }

    .s-pizza .heading p{
        color: #333333;
        text-align: center;
        font-size: 18px;
        padding-bottom: 100px;
        font-family: 'OpenSansRegular', sans-serif;
    }


    label{
        margin-bottom: 14px;
        display: block;
        padding: 15px 0;
    }

        label span{
            font-size: 14px;
            color: #222222;
            display: block;
            margin-bottom: 3px;
            font-family: 'OpenSansRegular', sans-serif;
        }

            label select{
                background-color: #fff;
                padding: 2px 10px;
                display: block;
                width: 250px;
                color: #222222;
                font-size: 14px;
                font-family: 'OpenSansRegular', sans-serif;
                border: #000 3px solid;
                border-radius: 5px;
                transition: all .5s ease;
                margin-left: 85px;
            }


    .button_pizza{
        display: inline-block;
        color: #ecb124;
        padding: 13px 50px;
        font-size: 14px;
        font-family: "OpenSansRegular", sans-serif;
        text-transform: uppercase;
        margin-top: 50px;
        border: 3px solid #ecb124;
        box-shadow: 0 4px 0 #d59d16;
        text-decoration: none;
        background-color: transparent;
        background-image: linear-gradient(90deg, #ecb124 50%, transparent 50%);
        background-position: 100%;
        background-size: 300%;
        transition: background-position .8s ease 0s, color .5s ease 0s;
    }
    
        .button_pizza:hover{
            background-position: 0;
            color: #fff;
        }
    
        .button_pizza:active{
            border: 3px solid #d59d16;
            background-image: linear-gradient(90deg, #d59d16 50%, transparent 50%);
            transform: translateY(2px);
        }

    
    .s-pizza .block:hover h3{
        color: #d59d16;
    }


.last_button{
    text-align: center
}    

    .button_black{
        display: inline-block;
        color: #222222;
        font-size: 14px;
        font-family: "OpenSansRegular", sans-serif;
        text-transform: uppercase;
        border: 3px solid #222222;
        border-radius: 8px;
        box-shadow: 0 4px 0 #222222;
        text-decoration: none;
        padding: 10px 50px;
        margin: 20px 0 100px 0;
        background-color: transparent;
        background-image: linear-gradient(135deg, #303030 50%, transparent 50%);
        background-position: 100%;
        background-size: 300%;
        transition: background-position .8s ease 0s, color .5s ease 0s;
    }
    
        .button_black:hover{
            background-position: 0;
            color: #fff;
        }
    
        .button_black:active{
            background-image: linear-gradient(135deg, #222222 50%, transparent 50%);
            transform: translateY(2px);
        }



.s-drink{
    background-color: #f8f8f8;
}

    .s-drink .block-text{
        min-height: 130px;
    }

    .s-drink .drink-line-1 .block-img{
        width: 60%;
        min-height: 165px;
    }

    .s-drink .drink-line-2 .block-img{
        width: 90%;
        min-height: 165px;
    }

    .s-drink .drink-line-3 .block-img{
        width: 70%;
        min-height: 165px;
    }
    
    .s-drink .block-remaining:hover h3{
        color: #d59d16;
    }



.s-combo{
    background-color: #ffffff;
}

    .s-combo .block .block-img{
        width: 70%;
    }

    .s-combo .block br{
        margin: 1px 0;
    }

    .s-combo .block .block-sum{
        text-align: left;
        margin-left: 30px;
    }

    .s-combo .block .button_combo{
        position: absolute;
        text-align: right;
        font-family: "OpenSansRegular", sans-serif;
        text-transform: uppercase;
        border: none;
        text-decoration: none;
        color: #0f8739;
        margin-top: 25px;
        margin-left: 80px;
    }

        .s-combo .block .button_combo .icon{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: skew(-40deg, 0deg);
            pointer-events: none;
        }

            .s-combo .block .button_combo .icon::before, .s-combo .block .button_combo .icon::after{
                content: '';
                height: 1px;
                width: 40px;
                position: absolute;
                display: block;
                background: #0f8739;
                transition: all 0.5s;
            }

                .s-combo .block .button_combo:hover .icon::before, .s-combo .block .button_combo:hover .icon::after{
                    width: 108px;
                }

                .s-combo .block .button_combo .icon::before{
                    left: -30%;
                    top: -15%;
                }

                    .s-combo .block .button_combo:hover .icon::before{
                        left: -25%;
                        top: -10%;
                    }

                .s-combo .block .button_combo .icon::after{
                    right: -30%;
                    bottom: -15%;
                }

                    .s-combo .block .button_combo:hover .icon::after{
                        right: -25%;
                        bottom: -10%;
                    }

                .s-combo .block .button_combo .icon span::before, .s-combo .block .button_combo .icon span::after{
                    content: '';
                    background: #0f8739;
                    position: absolute;
                    display: block;
                    width: 2px;
                    height: 15px;
                    transition: all 0.5s;
                }

                    .s-combo .block .button_combo:hover .icon span::before, .s-combo .block .button_combo:hover .icon span::after{
                        height: 28px;
                    }

                    .s-combo .block .button_combo .icon span::before{
                        left: -30%;
                        top: -15%;
                    }

                        .s-combo .block .button_combo:hover .icon span::before{
                            left: -25%;
                            top: -10%;
                        }

                    .s-combo .block .button_combo .icon span::after{
                        right: -30%;
                        bottom: -15%;
                    }

                        .s-combo .block .button_combo:hover .icon span::after{
                            right: -25%;
                            bottom: -10%;
                        }


    .s-combo .last_button .button_black{
        padding: 10px 100px;;
    }

    .s-combo .block-icon-img{
        margin-left: 860px;
        margin-top: 110px;
    }

    .s-combo .block:hover h3{
        color: #d59d16;
    }



.s-dessert{
    background-color: #f8f8f8;
}

    .s-dessert .block-remaining .block-img{
        width: 80%;
        min-height: 330px;
    }

    .s-dessert .button_black{
        padding: 10px 100px;
    }

    .s-dessert .block-remaining h3{
        min-height: 110px;
    }

    .s-dessert .block-remaining:hover h3{
        color: #d59d16;
    }


.s-delivery{
    background-color: #414e5b;
}

    .s-delivery .block{
        text-align: left;
        padding-bottom: 0;
    }

        .s-delivery .block::after{
            display: none;
        }

        .s-delivery .block::before{
            display: none;
        }

    .s-delivery .heading h2{
        text-align: left;
        color: #dde9f3;
    }

    .s-delivery .block br{
        margin: 20px 0;
    }

    .s-delivery .block h3{
        font-family: "OpenSansBold";
        color: #ecb124;
        font-size: 27px;
        min-height: 110px;
    }
    
    .s-delivery .block .block-text{
        color: #c0cdda;
        font-family: "OpenSansSemiBold";
        font-size: 17px;
    }



.s-bonus{
    background-color: #ecb124;
    padding: 15px 0;
}

    .s-bonus .block-bonus{
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: left;
        display: flex;
    }

    .s-bonus .mnu-logo .logo{
        width: 80px;
    }

    .s-bonus .block h3{
        color: #ffffff;
        padding: 30px 0;
    }

    .s-bonus .block-bonus .button_bonus{
        display: inline-block;
        color: #ecb124;
        font-size: 14px;
        font-family: "OpenSansRegular", sans-serif;
        text-transform: uppercase;
        margin-top: 50px;
        border: 3px solid #fff;
        border-radius: 30px;
        text-decoration: none;
        padding: 12px 30px;
        margin: 20px 0 20px 160px;
        background-color: #fff;
        background-image: linear-gradient(135deg, #ecb124 50%, transparent 50%);
        background-position: 100%;
        background-size: 300%;
        transition: background-position .8s ease 0s, color .5s ease 0s;
    }
    
        .s-bonus .block-bonus .button_bonus:hover{
            background-position: 0;
            color: #fff;
        }
    
        .s-bonus .block-bonus .button_bonus:active{
            background-image: linear-gradient(45deg, #222222 50%, transparent 50%);
            transform: translateY(2px);
        }




.s-contacts{
    background: #222222;
}
    .s-contacts .container{
        padding-bottom: 100px;
    }

        .s-contacts .block-contact h2{
            text-align: left;
            color: #ffffff;
            padding: 100px 0 50px 0;
        }

        .s-contacts .block-text{
            min-height: 50px;
        }

            .s-contacts br {
                margin: 0px 0;
            }

            .s-contacts .block-contact p{
                font-family: "OpenSansRegular";
                text-align: left;
                color: #ffffff;
                font-size: 20px;
            }

                .s-contacts .block-contact p span{
                    font-family: "OpenSansBold";
                    font-size: 22px;
                }

        .block-map .item-map{
            width: 100%;
            height: 100%;
            margin-top: 100px;
        }


    
.tooltip-zp{
    position: absolute;
    padding: 15px 15px;
    top: 30px;
    right: 0px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #fff;
    background: #222222;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    width: 250px;
    height: 150px;
    text-align: left;
}

    .tooltip_heading{
        font-size: 15px;
        color: #444444;
        margin-bottom: 20px;
    }

    .tooltip-s{
        display: inline-flex;
        width: 100%;
        font-family: "OpenSansLight", sans-serif;
    }

        .tooltip-left{
            text-align: left;
        }

        .tooltip-right{
            flex: 1 0 auto;
            text-align: right;
        }
